#personal-bookmarks {
  --toolbarbutton-inner-padding: 0px;

  margin-bottom: 4px !important;
  max-width: calc(var(--zen-sidebar-width) - 6px) !important;
  border-radius: 0px !important;
  overflow: hidden;
}

#personal-bookmarks:hover {
  --toolbarbutton-hover-background: transparent;
}

#personal-bookmarks #PlacesToolbarItems {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(100px, auto)) !important;
  grid-auto-flow: row !important;
   
  gap: 2px !important;
}

#personal-bookmarks .bookmark-item .toolbarbutton-icon {
  margin-inline-end: 4px !important;
  border-radius: 4px;
}

#personal-bookmarks .bookmark-item {
  background: var(--zen-toolbar-element-bg) !important;
  border-radius: var(--border-radius-medium) !important;
  height: 28px important;
  visibility: visible !important;
  padding: 6px !important;
}

#personal-bookmarks .bookmark-item:hover {
  background: light-dark(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.2)) !important;
}

#personal-bookmarks #PlacesChevron {
  display: none !important;
}
